/*
 *      desktop.css
 *      
 *      Copyright 2009 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */
@import url("generic.css");

#main_menu{
	position:absolute;
	top:64px;
	left:24px;
	height:105px;
	width:651px;
}

#border_menu{
	position:absolute;
	top:58px;
	left:17px;
	height:109px;
	width:658px;
	border:2px solid #BFBFBF;
}

#userinfo{
	position:absolute;
	font-size:13px;
	font-weight:bold;
	letter-spacing:-1px;
	color:#737474;
	top:13px;
	left:21px;
	display: inline;
}
#userinfo ul{
	list-style:none;
  padding:0px;    
}
#userinfo ul li{
	display: inline;
	padding: 13px 5px 10px 20px ;
}

#userinfo #username{
	background-image: url("../images/user.png");
	background-position: left 0px; 
	background-repeat: no-repeat;
	padding-left:31px;
	cursor:pointer;
}

#userinfo #username:hover{
	color:#23ACFF;
}

#userinfo #last{
	background-image: url("../images/clock.png");
	background-position: left; 
	background-repeat: no-repeat;
	padding-left:33px;
}

#userinfo #logout{
	background-image: url("../images/logout.png");
	background-position: left; 
	background-repeat: no-repeat;
	padding-left:28px;
	cursor:pointer;
}

#userinfo #logout:hover{
	color:#FF0000;
}

#userinfo #help{
	background-image: url("../images/help.png");
	background-position: left; 
	background-repeat: no-repeat;
	padding-left:31px;
	cursor:pointer;
}

#userinfo #help:hover{
	color:#23ACFF;
}


#summary_team{
	position:absolute;
	top:30px;
}
#lastest_results{
	position:absolute;
	top:192px;
	left:476px;
	width:364px;
}
#lastest_results fieldset{
	border:1px solid #BFBFBF;
	height:569px;
}

#lastest_results fieldset table{
	width:100%;
	font-size:20px;
	letter-spacing: -1px;
} 

#lastest_results fieldset table tr.head th{
	text-align:center;
	background-color:#23ACFF;
	font-weight:normal;
	color:#FFF;
	padding:3px;
	border:1px solid #BFBFBF;
}

#lastest_results fieldset table tr.head th span{
	font-size:14px;
	margin-left:6px;
}	


#lastest_results fieldset table tr.head td.next{
	background-image: url('../images/next.png');
	border:0px;
	padding:0px;
	width:20px;
	background-position: center; 
	background-repeat: no-repeat;
	cursor:pointer;
}

#lastest_results fieldset table tr.head td.prev{
	background-image: url('../images/prev.png');
	border:0px;
	padding:0px;
	width:20px;
	background-position: center; 
	background-repeat: no-repeat;
	cursor:pointer;
}

#lastest_results fieldset table tr td{
	border:1px solid #BFBFBF;
}

#lastest_results fieldset table tr.painted{
	background-color:#fbffc4;
}

#lastest_results fieldset table tr td.name{
	width:85%;
	padding:3px 3px 3px 48px;
	background-repeat: no-repeat;
	background-size: 37px;
	background-position: 3px center;
}

#lastest_results fieldset table tr td.pto{
	background-color:#FF247A;
	text-align:center;
	color:#FFF;
}
#allclasifications{
	position:absolute;
	top:192px;
	left:843px;
	width:270px;
}
#clasificacion {
font-size: 20px;
width: 360px;
padding: 10px;
border:1px solid #BFBFBF;
height:567px;
letter-spacing: -1px;
}

#clasificacion ul{
	padding:0px;
	margin:0px;
}

#clasificacion a:hover {
color: #23ACFF;
text-decoration: none;
}

.tabnav li {
display: inline;
list-style: none;
padding:0px;
margin-right:0px;
background-color:#23ACFF;
color:#FFF;
}

.tabnav li a {
	text-decoration: none;
	background-color:#23ACFF;
	border-top:2px solid #BFBFBF;
	border-left:2px solid #BFBFBF;
	border-right:2px solid #BFBFBF;
	color:#FFF;
	font-weight: bold;
	padding: 4px 6px;
	outline: none;
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
	background-color:#FFF;
	color:#23ACFF;
	border-top:2px solid #BFBFBF;
	border-left:2px solid #BFBFBF;
	border-right:2px solid #BFBFBF;
	text-decoration: none;
}

.tabledata table{
	width:100%;
	border:2px solid #BFBFBF;
	font-size:20px;
	margin-top: 5px;
	letter-spacing:-1px;
}
.tabledata table tr td{
	border:1px solid #BFBFBF;
	text-align:center;
	padding-left:0px;
}

.tabledata table tr td.posclas{
	text-align:center;
	width:30px;
}
.tabledata table tr td.nomclas{
	text-align:left;
	width:208px;
	padding:3px 3px 3px 48px;
	background-repeat: no-repeat;
	background-size: 37px;
	background-position: 3px center;
	cursor:pointer;
}
.tabledata table tr td.nomclas:hover{
	background-color:#FBFFC4;
}
.tabledata table tr td.ptsclas{
	color:#FFFFFF;
	background-color:#FF247A;
	padding-left:3px;
	padding-right:3px;
}	
.tabledata table tr td#gral_1,#vta_1,#reg_1{
background-color:#76EC76;
}

.tabledata table#cgral tr td#gral_2,#gral_3{
background-color:#A5BED1;
}

.tabledata table#cgral tr td#gral_4,#gral_5,#gral_6,#gral_7,#gral_8{
background-color:#F6F696;
}

.tabledata table tr td#gral_14,#vta_14,#reg_14{
background-color:#F49B9B;
}

.ui-tabs-hide {
display: none;
}

#lastupdate{
	position:absolute;
	top:757px;
	left:845px;
	width:380px;
	text-align:center;
}

#lastyears{
	position:absolute;
	top:786px;
	left:23px;
}
/*********** menu principal ***************/

.menu {
	list-style: none;
	position: absolute;
	margin: 0;
	padding:0;
}

.menu li{
	width: 125px;
	height: 100px;
	display: block;
	overflow: hidden;
	padding: 0;
	cursor:pointer;
}

#menu_1 { 
	background-color: #4CB18C;
	background-image: url('../images/alineacion.png');
}
#menu_2 {
	background-color: #6373BD;
	background-image: url('../images/resultados.png');
}
#menu_3 {
	background-color: #BB6672;
	background-image: url('../images/plantilla.png');
}
#menu_4 { 
	background-color: #AA72BB;
	background-image: url('../images/configurar.png');
}
#menu_5 { 
	background-color: #4B4E6A;
	background-image: url('../images/admin.png');
}

#logoapp.desktop{
	position:absolute;
	background-image: url("../images/logoappdesktop.png");
	top:17px;
	left:998px;
	height:165px;
	width:228px;
}
