/*
 *      generic.css
 *      
 *      Copyright 2009 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

body{
font-family:sans-serif;
}

fieldset{
	border:1px solid #BFBFBF;
}
#main{
	border:3px solid #c5c9c9;
	height:800px;
	width:1226px;
}
.rotulo{
	color:#FF247A;
	font-weight:bold;
	font-size:30px;
	margin-bottom:3px;
	margin-top:1px;
	letter-spacing:-2px;
	width:auto;
}

.genericmsg{
	color:#30309A;
	font-weight:bold;
	font-size:16px;
	margin-bottom:10px;
	margin-top:10px;
	width:100%;
	text-align:center;
}

.leyenda{
	margin-top:5px;
	font-size:11px;
	color:#4D4D4D;
}
.campeon{
	color:#ff7f00;
	vertical-align:super;
	font-size:24px;
	padding-left:5px;
}

#div_come_back input{
	background-image:url(../images/back.png);
	background-position:0px 2px;
}

.ok{
	color:#237D23;
	font-weight:bold;
	font-size:14px;
}

.nodata{
	position:absolute;
	top:200px;
	width:100%;
	text-align:center;
	color:#000;
	font-size:25px !important;
}

#loading{
	float:right;
	margin:1px;
	padding:3px;
	top:9px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	width:160px;
	height:15px;
	color:#000;
	background-color:#F3F38C;
}
#closepopup{
	position:relative;
	float:right;
	height:25px;
	width:25px;
	margin-right:5px;
	margin-top:5px;
	background-image:url('../images/closepopup.png');
	background-repeat: no-repeat;
  background-position: center;
	cursor:pointer;
}

#logoapp{
	background-image: url("../images/logoapp.png");
	background-repeat: no-repeat;
}

#popup.enemydata{
	position:relative;
	top:21px;
	left:115px;
	height:625px;
	width:976px;
	border:2px solid #A7A7CB;
	background-color:#FFF;
	z-index:2;
}

#popup.enemydata table{
	border:1px solid #A7A7CB;
	font-size:14px;
	font-weight:bold;
	letter-spacing:-1px;
	width:442px;
	margin-left:26px;
	margin-top:30px;
}

#popup.enemydata table td{
	border:1px solid #A7A7CB;
}

#popup.enemydata table tr.head{
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	background-color:#23ACFF;
	color:#FFF;
	font-weight:bold;
}

#popup.enemydata table tr.datapor{
background-color:#F7F0BC;
}

#popup.enemydata table tr.datadef{
background-color:#D1E4FA;
}

#popup.enemydata table tr.datamed{
background-color:#C4ECC4;
}

#popup.enemydata table tr.datadel{
background-color:#F4D1D1;
}

#popup.enemydata table tr td.onlydata{
	text-align:center;
}

fieldset.summary_team_desktop{
	position:absolute;
	width:425px;
	height:578px;
	top:153px;
	left:10px;
	border:1px solid #BFBFBF;
}

fieldset.summary_team_desktop legend{
	padding: 2px 15px 24px 85px ;
	height:28px;
	font-size:30px;
	font-weight:bold;
	color:#FF247A;
	background-repeat:no-repeat;
	background-position:left;
	letter-spacing:-3px;
}

fieldset.summary_team_desktop ul{
	list-style:none;
	font-size:25px;
	font-weight:bold;
	padding-left:5px;
	margin-top:20px;
	letter-spacing: -2px;
	color:#6E6E6E;
}

fieldset.summary_team_desktop ul li{
	background-position: 4px 7px; 
	background-repeat: no-repeat;
	padding:40px 0px 7px 77px;
	border-bottom:2px solid #dddfdf;
}

fieldset.summary_team_desktop ul li span{
	color:#23ACFF;
}

fieldset.summary_team_desktop ul li#summary_manager1{
	background-image: url('../images/manager1_desktop.png');
}

fieldset.summary_team_desktop ul li#summary_manager2{
	background-image: url('../images/manager2_desktop.png');
}

fieldset.summary_team_desktop ul li#summary_estadio{
	background-image: url('../images/estadio_desktop.png');
}

fieldset.summary_team_desktop ul li#summary_campeon{
	background-image: url('../images/campeon_desktop.png');
}

fieldset.summary_team_desktop ul li#summary_copa{
	background-image: url('../images/copa_desktop.png');
}

fieldset.summary_team_desktop ul li#summary_cuchara{
	background-image: url('../images/cuchara_desktop.png');
	border-bottom:0px;
}

fieldset#summary_enemy.summary_team_desktop{
	top:12px;
	left:490px;
}

