/*
 *      desktop.css
 *      
 *      Copyright 2009 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */
@import url("generic.css");


#login{
	position:absolute;
	border:3px solid #CBCBE0;
	top:310px;
	left:443px;
	height:218px;
	width:465px;
}

#logoapp.login{
	position:absolute;
	top:38px;
	left:57px;
	height:270px;
	width:338px;
	z-index:2;
}

#login #loginuser{
	position:absolute;
	top:63px;
	left:180px;
}

#login #loginpasswd{
	position:absolute;
	top:110px;
	left:180px;
}

#login #loginbtn{
	position:absolute;
	top:170px;
	left:214px;
}

#login #loginbtn a img{
	border:0px;
}

#logologin{
	position:absolute;
	background-image: url("../images/lock.png");
	background-color:#FFF;
	background-repeat: no-repeat;
	top:-65px;
	left:-38px;
	height:130px;
	width:130px;
	z-index:1;
}

#login div input{
	border:2px solid #CBCBE0;
	/*background-color:#F8F8B6;*/
	text-align:center;
	font-size:25px;
	color:#FF247A;
	width:250px;
	
}

#login div input:hover{
	background-color:#F8F8B6;
	cursor:pointer;
}

#login div input:focus{
	background-color:#FFF;
	cursor:text;
	border: 1px solid #CBCBE0;
}
#login div label{
	position:absolute;
	font-size:25px;
	font-weight:bold;
	color:#23ACFF;
}

#login div#loginuser label{
	top:0px;
	left:-122px;
}

#login div#loginpasswd label{
	top:0px;
	left:-172px;
}

#msglogin{
	position:absolute;
	top:535px;
	left:460px;
	width:465px;
	text-align:center;
	font-size:12px;
}
#msglogin.info{
	color:#1C981C;
}
#msglogin.error{
	color:#FF0000;
}
#onlyfirefox{
	position:absolute;
	color:#FF0000;
	font-size:18px;
	font-weight:bold;
	top:250px;
	left:98px;
}
#onlyfirefox #banner{
	text-align:center;
	margin-top:30px;
}
#techs{
	position:absolute;
	top:762px;
	left:851px;
	width:380px;
	height:45px;
	background-image: url("../images/logotech.png");
	background-color:#FFF;
	background-repeat: no-repeat;
}
#about{
	position:absolute;
	width:252px;
	color:#A39A9A;
	font-size:10px;
	top:223px;
	left:213px;
}
#about #version{
	position:relative;
	float:right;
}
#about #aboutus{
	position:relative;
	float:left;
}
