/*
 *      manager.css
 *      
 *      Copyright 2009 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

/* 3 - 4 - 3 */

#_343gk,#__343gk{
	position:absolute;
  top:5px;
  left:175px;
}
#_343df1,#__343df1{ 
  position:absolute;
  top:96px;
  left:25px;
}
#_343df2,#__343df2{ 
	position:absolute;
  top:120px;
  left:175px;
}
#_343df3,#__343df3{ 
	position:absolute;
  top:96px;
  left:326px;
}

#_343mid1,#__343mid1{ 
	position:absolute;
  top:280px;
  left:25px;
}
#_343mid2,#__343mid2{ 
	position:absolute;
  top:287px;
  left:175px;
}
#_343mid3,#__343mid3{ 
	position:absolute;
  top:280px;
  left:326px;

}
#_343mid4,#__343mid4{ 
	position:absolute;
  top:443px;
  left:175px;
}
#_343forw1,#__343forw1{ 
	position:absolute;
  top:557px;
  left:25px;
}
#_343forw2,#__343forw2{ 
	position:absolute;
  top:570px;
  left:175px;
}
#_343forw3,#__343forw3{ 
	position:absolute;
  top:557px;
  left:326px;
}

/* 3 - 5 - 2 */

#_352gk,#__352gk{
	position:absolute;
  top:5px;
  left:175px;
}
#_352df1,#__352df1{ 
  position:absolute;
  top:96px;
  left:25px;
}
#_352df2,#__352df2{ 
	position:absolute;
  top:120px;
  left:175px;
}
#_352df3,#__352df3{ 
	position:absolute;
  top:96px;
  left:326px;
}
#_352mid1,#__352mid1{ 
	position:absolute;
  top:265px;
  left:100px;
}
#_352mid2,#__352mid2{ 
	position:absolute;
  top:265px;
  left:250px;
}
#_352mid3,#__352mid3{ 
	position:absolute;
  top:405px;
  left:12px;
}
#_352mid4,#__352mid4{ 
	position:absolute;
  top:405px;
  left:337px;
}
#_352mid5,#__352mid5{ 
	position:absolute;
  top:405px;
  left:175px;
}
#_352forw1,#__352forw1{ 
	position:absolute;
  top:570px;
  left:109px;
}
#_352forw2,#__352forw2{ 
	position:absolute;
  top:570px;
  left:252px;
}


/* 5 - 4 - 1 */

#_541gk,#__541gk{
	position:absolute;
  top:5px;
  left:175px;
}
 
#_541df1,#__541df1{ 
  position:absolute;
  top:181px;
  left:10px;
}
#_541df2,#__541df2{ 
	position:absolute;
  top:83px;
  left:25px;
}
#_541df3,#__541df3{ 
	position:absolute;
  top:181px;
  left:340px;
}
#_541df4,#__541df4{ 
	position:absolute;
  top:83px;
  left:326px;
}
#_541df5,#__541df5{ 
	position:absolute;
  top:103px;
  left:175px;
}
#_541mid1,#__541mid1{ 
	position:absolute;
  top:284px;
  left:175px;
}
#_541mid2,#__541mid2{ 
	position:absolute;
  top:385px;
  left:12px;
}
#_541mid3,#__541mid3{ 
	position:absolute;
  top:385px;
  left:338px;
}
#_541mid4,#__541mid4{ 
	position:absolute;
  top:463px;
  left:175px;
}
#_541forw1,#__541forw1{ 
	position:absolute;
  top:570px;
  left:175px;
}

/* 5 - 3 - 2 */

#_532gk,#__532gk{
	position:absolute;
  top:5px;
  left:175px;
}
 
#_532df1,#__532df1{ 
  position:absolute;
  top:181px;
  left:10px;
}
#_532df2,#__532df2{ 
	position:absolute;
  top:83px;
  left:25px;
}
#_532df3,#__532df3{ 
	position:absolute;
  top:181px;
  left:340px;
}
#_532df4,#__532df4{ 
	position:absolute;
  top:83px;
  left:326px;
}
#_532df5,#__532df5{ 
	position:absolute;
  top:103px;
  left:175px;
}
#_532mid1,#__532mid1{ 
	position:absolute;
  top:300px;
  left:175px;
}
#_532mid2,#__532mid2{ 
	position:absolute;
  top:380px;
  left:12px;
}
#_532mid3,#__532mid3{ 
	position:absolute;
  top:380px;
  left:340px;
}
#_532forw1,#__532forw1{ 
	position:absolute;
  top:570px;
  left:109px;
}
#_532forw2,#__532forw2{ 
	position:absolute;
  top:570px;
  left:252px;
}


/* 4 - 5 - 1 */

#_451gk,#__451gk{
	position:absolute;
  top:5px;
  left:175px;
}

#_451df1,#__451df1{ 
  position:absolute;
  top:100px;
  left:10px;
}
#_451df2,#__451df2{ 
	position:absolute;
  top:100px;
  left:116px;
}
#_451df3,#__451df3{ 
	position:absolute;
  top:100px;
  left:240px;
}
#_451df4,#__451df4{ 
	position:absolute;
  top:100px;
  left:340px;
}
#_451mid1,#__451mid1{ 
	position:absolute;
  top:265px;
  left:100px;
}
#_451mid2,#__451mid2{ 
	position:absolute;
  top:265px;
  left:250px;
}
#_451mid3,#__451mid3{ 
	position:absolute;
  top:405px;
  left:12px;
}
#_451mid4,#__451mid4{ 
	position:absolute;
  top:405px;
  left:337px;
}
#_451mid5,#__451mid5{ 
	position:absolute;
  top:405px;
  left:175px;
}
#_451forw1,#__451forw1{ 
	position:absolute;
  top:570px;
  left:175px;
}


/* 4 - 3 - 3 */

#_433gk,#__433gk{
	position:absolute;
  top:5px;
  left:175px;
}

#_433df1,#__433df1{ 
  position:absolute;
  top:100px;
  left:10px;
}
#_433df2,#__433df2{ 
	position:absolute;
  top:100px;
  left:116px;
}
#_433df3,#__433df3{ 
	position:absolute;
  top:100px;
  left:240px;
}
#_433df4,#__433df4{ 
	position:absolute;
  top:100px;
  left:340px;
}
#_433mid1,#__433mid1{ 
	position:absolute;
  top:300px;
  left:175px;
}
#_433mid2,#__433mid2{ 
	position:absolute;
  top:380px;
  left:12px;
}
#_433mid3,#__433mid3{ 
	position:absolute;
  top:380px;
  left:340px;
}
#_433forw1,#__433forw1{ 
	position:absolute;
  top:557px;
  left:25px;
}
#_433forw2,#__433forw2{ 
	position:absolute;
  top:570px;
  left:175px;
}
#_433forw3,#__433forw3{ 
	position:absolute;
  top:557px;
  left:326px;
}


/* 4 - 4 - 2 */

#_442gk,#__442gk{
	position:absolute;
  top:5px;
  left:175px;
}

#_442df1,#__442df1{ 
  position:absolute;
  top:100px;
  left:10px;
}
#_442df2,#__442df2{ 
	position:absolute;
  top:100px;
  left:116px;
}
#_442df3,#__442df3{ 
	position:absolute;
  top:100px;
  left:240px;
}
#_442df4,#__442df4{ 
	position:absolute;
  top:100px;
  left:340px;
}
#_442mid1,#__442mid1{ 
	position:absolute;
  top:390px;
  left:30px;
}
#_442mid2,#__442mid2{ 
	position:absolute;
  top:390px;
  left:313px;
}
#_442mid3,#__442mid3{ 
	position:absolute;
  top:260px;
  left:86px;
}
#_442mid4,#__442mid4{ 
	position:absolute;
  top:260px;
  left:260px;
}
#_442forw1,#__442forw1{ 
	position:absolute;
  top:570px;
  left:109px;
}
#_442forw2,#__442forw2{ 
	position:absolute;
  top:570px;
  left:252px;
}

.dropover{
	opacity: 0.30; /* para opera y firefox */
	-moz-opacity: 0.30; /* para mozilla y chrome*/
	filter: alpha(opacity=20); /* para IE */
	background-color:#FFFF00;
	border:3px dotted #2121A5;
}
