/*
 *      matches.css
 *      
 *      Copyright 2009 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */


/* Este CSS es la mismo que manager.css pero cambiando las posiciones de las camisetas, ya que se muestran dos equipos en el mismo cesped*/


/* 3 - 4 - 3 LOCAL */

#_343gk{
	position:absolute;
  top:5px;
  left:225px;
}
#_343df1{ 
  position:absolute;
  top:63px;
  left:30px;
}
#_343df2{ 
	position:absolute;
  top:80px;
  left:225px;
}
#_343df3{ 
	position:absolute;
  top:66px;
  left:418px;
}

#_343mid1{ 
	position:absolute;
  top:160px;
  left:25px;
}
#_343mid2{ 
	position:absolute;
  top:175px;
  left:150px;
}
#_343mid3{ 
	position:absolute;
  top:165px;
  left:418px;
}
#_343mid4{ 
	position:absolute;
  top:175px;
  left:300px;
}
#_343forw1{ 
	position:absolute;
  top:296px;
  left:55px;
}
#_343forw2{ 
	position:absolute;
  top:296px;
  left:225px;
}
#_343forw3{ 
	position:absolute;
  top:296px;
  left:400px;
}

/* 3 - 4 - 3 VISITANTE */

#g_343gk{
	position:absolute;
  top:696px;
  left:225px;
  overflow:hidden;
}
#g_343df1{ 
  position:absolute;
  top:618px;
  left:30px;
}
#g_343df2{ 
	position:absolute;
  top:618px;
  left:221px;
}
#g_343df3{ 
	position:absolute;
  top:618px;
  left:418px;
}
#g_343mid1{ 
	position:absolute;
  top:530px;
  left:30px;
}
#g_343mid2{ 
	position:absolute;
  top:500px;
  left:295px;
}
#g_343mid3{ 
	position:absolute;
  top:530px;
  left:410px;
}
#g_343mid4{ 
	position:absolute;
  top:500px;
  left:175px;
}
#g_343forw1{ 
	position:absolute;
  top:395px;
  left:50px;
}
#g_343forw2{ 
	position:absolute;
  top:395px;
  left:225px;
}
#g_343forw3{ 
	position:absolute;
  top:395px;
  left:400px;
}


/* 3 - 5 - 2 LOCAL */

#_352gk{
	position:absolute;
  top:5px;
  left:225px;
}
#_352df1{ 
  position:absolute;
  top:83px;
  left:30px;
}
#_352df2{ 
	position:absolute;
  top:100px;
  left:221px;
}
#_352df3{ 
	position:absolute;
  top:83px;
  left:418px;
}
#_352mid1{ 
	position:absolute;
  top:180px;
  left:146px;
}
#_352mid2{ 
	position:absolute;
  top:180px;
  left:304px;
}
#_352mid3{ 
	position:absolute;
  top:180px;
  left:30px;
}
#_352mid4{ 
	position:absolute;
  top:180px;
  left:418px;
}
#_352mid5{ 
	position:absolute;
  top:237px;
  left:225px;
}
#_352forw1{ 
	position:absolute;
  top:295px;
  left:109px;
}
#_352forw2{ 
	position:absolute;
  top:295px;
  left:335px;
}

/* 3 - 5 - 2 VISITANTE */

#g_352gk{
	position:absolute;
  top:696px;
  left:225px;
}
#g_352df1{ 
  position:absolute;
  top:618px;
  left:30px;
}
#g_352df2{ 
	position:absolute;
  top:600px;
  left:221px;
}
#g_352df3{ 
	position:absolute;
  top:618px;
  left:418px;
}
#g_352mid1{ 
	position:absolute;
  top:512px;
  left:146px;
}
#g_352mid2{ 
	position:absolute;
  top:512px;
  left:304px;
}
#g_352mid3{ 
	position:absolute;
  top:512px;
  left:30px;
}
#g_352mid4{ 
	position:absolute;
  top:512px;
  left:418px;
}
#g_352mid5{ 
	position:absolute;
  top:455px;
  left:225px;
}
#g_352forw1{ 
	position:absolute;
  top:403px;
  left:109px;
}
#g_352forw2{ 
	position:absolute;
  top:403px;
  left:335px;
}

/* 5 - 4 - 1 LOCAL */

#_541gk{
	position:absolute;
  top:5px;
  left:225px;
}
 
#_541df1{ 
  position:absolute;
  top:135px;
  left:10px;
}
#_541df2{ 
	position:absolute;
  top:73px;
  left:80px;
}
#_541df3{ 
	position:absolute;
  top:135px;
  left:435px;
}
#_541df4{ 
	position:absolute;
  top:73px;
  left:365px;
}
#_541df5{ 
	position:absolute;
  top:93px;
  left:225px;
}
#_541mid1{ 
	position:absolute;
  top:205px;
  left:132px;
}
#_541mid2{
	position:absolute;
  top:287px;
  left:40px;
}
#_541mid3{ 
	position:absolute;
  top:205px;
  left:310px;
}
#_541mid4{ 
	position:absolute;
  top:287px;
  left:400px;
}
#_541forw1{ 
	position:absolute;
  top:310px;
  left:225px;
}


/* 5 - 4 - 1 VISITANTE */

#g_541gk{
	position:absolute;
  top:696px;
  left:225px;
}
 
#g_541df1{ 
  position:absolute;
  top:588px;
  left:10px;
}
#g_541df2{ 
	position:absolute;
  top:620px;
  left:86px;
}
#g_541df3{ 
	position:absolute;
  top:588px;
  left:433px;
}
#g_541df4{ 
	position:absolute;
  top:620px;
  left:360px;
}
#g_541df5{ 
	position:absolute;
  top:620px;
  left:225px;
}
#g_541mid1{ 
	position:absolute;
  top:505px;
  left:160px;
}
#g_541mid2{
	position:absolute;
  top:455px;
  left:12px;
}
#g_541mid3{ 
	position:absolute;
  top:455px;
  left:433px;
}
#g_541mid4{ 
	position:absolute;
  top:505px;
  left:305px;
}
#g_541forw1{ 
	position:absolute;
  top:400px;
  left:225px;
}


/* 5 - 3 - 2 LOCAL */

#_532gk{
	position:absolute;
  top:5px;
  left:225px;
}
 
#_532df1{ 
  position:absolute;
  top:135px;
  left:10px;
}
#_532df2{ 
	position:absolute;
  top:73px;
  left:80px;
}
#_532df3{ 
	position:absolute;
  top:135px;
  left:435px;
}
#_532df4{ 
	position:absolute;
  top:73px;
  left:365px;
}
#_532df5{ 
	position:absolute;
  top:93px;
  left:225px;
}
#_532mid1{ 
	position:absolute;
  top:190px;
  left:225px;
}
#_532mid2{ 
	position:absolute;
  top:190px;
  left:70px;
}
#_532mid3{ 
	position:absolute;
  top:190px;
  left:388px;
}
#_532forw1{ 
	position:absolute;
  top:313px;
  left:166px;
}
#_532forw2{ 
	position:absolute;
  top:313px;
  left:277px;
}

/* 5 - 3 - 2 VISITANTE */

#g_532gk{
	position:absolute;
 	top:696px;
  left:225px;
}
 
#g_532df1{ 
  position:absolute;
  top:588px;
  left:10px;
}
#g_532df2{ 
	position:absolute;
  top:620px;
  left:86px;
}
#g_532df3{ 
	position:absolute;
  top:588px;
  left:433px;
}
#g_532df4{ 
	position:absolute;
  top:620px;
  left:360px;
}
#g_532df5{ 
	position:absolute;
  top:620px;
  left:225px;
}
#g_532mid1{ 
	position:absolute;
  top:500px;
  left:225px;
}
#g_532mid2{ 
	position:absolute;
  top:500px;
  left:400px;
}
#g_532mid3{ 
	position:absolute;
  top:500px;
  left:55px;
}
#g_532forw1{ 
	position:absolute;
  top:386px;
  left:140px;
}
#g_532forw2{ 
	position:absolute;
  top:386px;
  left:307px;
}


/* 4 - 5 - 1 LOCAL */

#_451gk{
	position:absolute;
  top:5px;
  left:225px;
}

#_451df1{ 
  position:absolute;
  top:83px;
  left:10px;
}
#_451df2{ 
	position:absolute;
  top:83px;
  left:156px;
}
#_451df3{ 
	position:absolute;
  top:83px;
  left:292px;
}
#_451df4{ 
	position:absolute;
  top:83px;
  left:434px;
}
#_451mid1{ 
	position:absolute;
  top:170px;
  left:156px;
}
#_451mid2{ 
	position:absolute;
  top:170px;
  left:292px;
}
#_451mid3{ 
	position:absolute;
  top:237px;
  left:35px;
}
#_451mid4{ 
	position:absolute;
  top:237px;
  left:411px;
}
#_451mid5{ 
	position:absolute;
  top:237px;
  left:225px;
}
#_451forw1{ 
	position:absolute;
  top:313px;
  left:225px;
}


/* 4 - 5 - 1 VISITANTE */

#g_451gk{
	position:absolute;
  top:696px;
  left:225px;
}

#g_451df1{ 
  position:absolute;
  top:607px;
  left:10px;
}
#g_451df2{ 
	position:absolute;
  top:607px;
  left:156px;
}
#g_451df3{ 
	position:absolute;
  top:607px;
  left:292px;
}
#g_451df4{ 
	position:absolute;
  top:607px;
  left:434px;
}
#g_451mid1{ 
	position:absolute;
  top:517px;
  left:132px;
}
#g_451mid2{ 
	position:absolute;
  top:517px;
  left:316px;
}
#g_451mid3{ 
	position:absolute;
  top:453px;
  left:35px;
}
#g_451mid4{ 
	position:absolute;
  top:453px;
  left:411px;
}
#g_451mid5{ 
	position:absolute;
  top:474px;
  left:225px;
}
#g_451forw1{ 
	position:absolute;
  top:394px;
  left:225px;
}


/* 4 - 3 - 3 LOCAL */

#_433gk{
	position:absolute;
  top:5px;
  left:225px;
}

#_433df1{ 
  position:absolute;
  top:83px;
  left:10px;
}
#_433df2{ 
	position:absolute;
  top:83px;
  left:156px;
}
#_433df3{ 
	position:absolute;
  top:83px;
  left:292px;
}
#_433df4{ 
	position:absolute;
  top:83px;
  left:434px;
}
#_433mid1{ 
	position:absolute;
  top:190px;
  left:225px;
}
#_433mid2{ 
	position:absolute;
  top:190px;
  left:70px;
}
#_433mid3{ 
	position:absolute;
  top:190px;
  left:388px;
}
#_433forw1{ 
	position:absolute;
  top:311px;
  left:96px;
}
#_433forw2{ 
	position:absolute;
  top:311px;
  left:225px;
}
#_433forw3{ 
	position:absolute;
  top:311px;
  left:347px;
}

/* 4 - 3 - 3 VISITANTE */

#g_433gk{
	position:absolute;
  top:696px;
  left:225px;
}

#g_433df1{ 
  position:absolute;
  top:607px;
  left:10px;
}
#g_433df2{ 
	position:absolute;
  top:607px;
  left:156px;
}
#g_433df3{ 
	position:absolute;
  top:607px;
  left:292px;
}
#g_433df4{ 
	position:absolute;
  top:607px;
  left:434px;
}
#g_433mid1{ 
	position:absolute;
  top:500px;
  left:225px;
}
#g_433mid2{ 
	position:absolute;
  top:500px;
  left:400px;
}
#g_433mid3{ 
	position:absolute;
  top:500px;
  left:55px;
}
#g_433forw1{ 
	position:absolute;
  top:402px;
  left:355px;
}
#g_433forw2{ 
	position:absolute;
  top:402px;
  left:225px;
}
#g_433forw3{ 
	position:absolute;
  top:402px;
  left:92px;
}


/* 4 - 4 - 2  LOCAL*/

#_442gk{
	position:absolute;
  top:5px;
  left:225px;
}

#_442df1{ 
  position:absolute;
  top:83px;
  left:10px;
}
#_442df2{ 
	position:absolute;
  top:83px;
  left:156px;
}
#_442df3{ 
	position:absolute;
  top:83px;
  left:292px;
}
#_442df4{ 
	position:absolute;
  top:83px;
  left:434px;
}
#_442mid1{ 
	position:absolute;
  top:205px;
  left:132px;
}
#_442mid2{
	position:absolute;
  top:260px;
  left:15px;
}
#_442mid3{ 
	position:absolute;
  top:205px;
  left:310px;
}
#_442mid4{ 
	position:absolute;
  top:260px;
  left:430px;
}
#_442forw1{ 
	position:absolute;
  top:313px;
  left:166px;
}
#_442forw2{ 
	position:absolute;
  top:313px;
  left:277px;
}


/* 4 - 4 - 2  VISITANTE */

#g_442gk{
	position:absolute;
  top:696px;
  left:225px;
}

#g_442df1{ 
  position:absolute;
  top:607px;
  left:10px;
}
#g_442df2{ 
	position:absolute;
  top:607px;
  left:156px;
}
#g_442df3{ 
	position:absolute;
  top:607px;
  left:292px;
}
#g_442df4{ 
	position:absolute;
  top:607px;
  left:434px;
}
#g_442mid1{ 
	position:absolute;
  top:505px;
  left:160px;
}
#g_442mid2{
	position:absolute;
  top:455px;
  left:12px;
}
#g_442mid3{ 
	position:absolute;
  top:455px;
  left:433px;
}
#g_442mid4{ 
	position:absolute;
  top:505px;
  left:305px;
}
#g_442forw1{ 
	position:absolute;
  top:386px;
  left:140px;
}
#g_442forw2{ 
	position:absolute;
  top:386px;
  left:307px;
}

.dropover{
	opacity: 0.30; /* para opera y firefox */
	-moz-opacity: 0.30; /* para mozilla y chrome*/
	filter: alpha(opacity=20); /* para IE */
	background-color:#FFFF00;
	border:3px dotted #2121A5;
}
