/*
 *      manager.css
 *      
 *      Copyright 2009 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

body{
	font-size: 35px;
}
table{
	border:0px solid #b0b0b0;
}

table tr td,th{
	width:50%;
	border:1px solid #b0b0b0;
}

table tr th{
	background-color: #000;
	color:#FFF;
}

table tr td.dorsal{
	width:12%;
	text-align: center;
}

table tr td.nameplayer{
	width:75%;
	cursor:pointer;
}

#main{
	border:3px solid #CBCBE0;
	height:auto;
	width:990px;
}

#main #por_mobi table tr td.dorsal{
	background-color:#FAFAAA;
	color:#000;
} 

#main #por_mobi table tr td.dorsalselected{
	background-color:#FAFAAA;
	color:#000;
	width:75%;
}

#main #def_mobi table tr td.dorsal{
	background-color:#CEEEF8;
	color:#000;
} 

#main #def_mobi table tr td.dorsalselected{
	background-color:#CEEEF8;
	color:#000;
	width:75%;
}

#main #med_mobi table tr td.dorsal{
	background-color:#9EF49E;
	color:#000;
} 

#main #med_mobi table tr td.dorsalselected{
	background-color:#9EF49E;
	color:#000;
	width:75%;
}

#main #del_mobi table tr td.dorsal{
	background-color:#F8A8A8;
	color:#000;
} 

#main #del_mobi table tr td.dorsalselected{
	background-color:#F8A8A8;
	color:#000;
	width:75%;
}


#main div{
margin-bottom:10px;
}

#main form#form_team_mobi input.btn_mobi{
	font-size: 30px;
	width:300px;
	height:70px;
	cursor:pointer;
	margin: 15px;
}

#main form#form_team_mobi input.btn_mobi#btn_send_team_mobi{
	color:#3245ff;
}

#main form#form_team_mobi input.btn_mobi#btn_reset_form_mobi{
	color:#FF0000;
}
