/*
 *      site.css
 *      
 *      Copyright 2009 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */


@import url("generic.css"); 

/******************* manager.php ********************/
#fullteam{
	position: absolute;
	top:65px;
	left:40px;
	width:356px;
	height:670px;
	border:1px solid #BFBFBF;
	padding-left:30px;
	padding-top:30px;
}

#fullteam table {
	font-size:18px;
	width:75%;
}
#fullteam table tr td{
	border:1px #BFBFBF solid; /*gris claro */
	padding:2px 3px 2px 41px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px center;
	cursor:pointer;
}

#fullteam table tr .dorsal{
	padding-left:0px;
	padding-right:0px;
	width:31px;
	color:#4D4D4D;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	cursor:default;
}

#headteam{
	position:absolute;
	top:-40px;
  left:10px;
	width:370px;
	height:58px;
	background-color:#FFF;

}
#headteam #nameteam{
	position:relative;
	top:-47px;
	left:80px;
	font-size:28px;
  font-weight:bold;
	color:#ff247a;
  letter-spacing:-2px;
}

#alloro{
	position:absolute;
	top:53px;
	left:884px;
}

#alloro fieldset{
	width:299px;
	height:52px;
}

#alloro fieldset #clock{
	position:relative;
	top:2px;
	color:#23ACFF;
	text-align:center;
	font-size:25px;
	font-weight:bold;
}

#nextmatch{
	position:absolute;
	top:133px;
	left:884px;
}

#nextmatch fieldset{
	width:299px;
	height:152px;
}

#nextenemy{
	position:absolute;
	top:316px;
	left:884px;
}

#nextenemy fieldset{
	width:299px;
	height:117px;
	padding-top:0px;
}

#lfpmatches{
	position:absolute;
	top:459px;
	left:884px;
}

#lfpmatches table{
	width:100%;
}

#lfpmatches fieldset{
	width:299px;
	height:271px;
}

#lfpmatches table tr td{
	border:1px solid #BFBFBF;
	background-color:#23acff;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	padding:2px;
	width:50%;
}

#legendtactic{
	position:absolute;
	top:383px;
	left:720px;
	color:#FF247A;
	font-size:12px;
	width:250px;
}

.div_info fieldset legend{
  font-size:24px;
	font-weight:bold;
	color:#FF247A;
	letter-spacing:-1px;
}

.div_info fieldset ul{
	font-size:22px;
	font-weight:bold;
    padding-left:17px;
    margin-top:12px;
	list-style:disc;
	letter-spacing:-2px;
}

.div_info fieldset ul li{
	padding-bottom: 0px;
	color:#23ACFF;
}
.div_info fieldset ul li span{
	color:#6E6E6E;
	font-weight:bold;
}

#shirtenemy{
	width:100%;
	text-align:center;
}

.nameteam{
	position:absolute;
	top:81px;
	width:200px;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	color:#23ACFF;
	cursor:pointer;
	width: 100%;
	letter-spacing:-2px;
}

.nameteam a {
	color:#30309A; /*azul*/
	text-decoration:none;
	background-image: url("../images/link.gif");
	background-position: right center; 
	background-repeat: no-repeat;
	padding-right: 10px;
}

.nameteam a:hover {
	color:#4D4D4D;
}
.por, .def, .med, .del{
	font-weight:bold;
	position:relative;
	z-index:1;
}

div .tdpor{
	background-color:#F7F0BC;
	color:#000;
}

div .tddef{
	background-color:#D1E4FA;
	color:#000;
}

div .tdmed{
	background-color:#C4ECC4;
	color:#000;
}
div .tddel{
	background-color:#F4D1D1;
	color:#000;
}

div .tdpor:hover, div .tddef:hover, div .tdmed:hover, div .tddel:hover{
	background-color:#FFF;
	color:#FF247A;
}

.tactic fieldset{
	position:absolute;
	top:31px;
	left:433px;
	width:422px;
	height:716px;
}
.tactic fieldset legend{
	font-size:28px;
	font-weight:bold;
	color:#FF247A;
	letter-spacing: -1px;
	background-image: url(../images/logotactics.png);
	background-repeat:no-repeat;
	padding:18px 15px 0px 72px;
	height:50px;
}

.tactic fieldset ul{
	margin-left:22px;
	list-style: none;
	list-style-image: url(../images/listeleven.png);
}

.tactic fieldset ul li{
	font-size:28px;
	color:#6E6E6E;
	margin-bottom:16px;
	letter-spacing:-2px;
}

.tactic fieldset #log_eleven{
	padding-top:18px;
	text-align:center;
}

#alltactics{
	margin-top:12px;
}

.divtactic{
	font-size:40px;
	letter-spacing:-4px;
	font-weight:bold;
	text-align:center;
	color:#6e6e6e; /*azul*/
	padding:6px 5px 5px 5px;
	margin-bottom:35px;
	cursor:pointer;
	border:1px solid #BFBFBF;
}

.divtactic:hover{
	background-color:#aad9ff;
	color:#FFF;
}

.button{
	height: 45px; 
	background-color: #FFF; 
	border-bottom: 2px solid #aad9ff;
	border-right:3px solid #aad9ff; 
	border-top:1px solid #dddfdf; 
	border-left:1px solid #dddfdf;
	font-size: 23px;
	font-weight:bold;
	background-repeat: no-repeat;
	padding-left:40px;
	cursor:pointer;
	color:#656666;
	width: 159px;
	letter-spacing:-2px;
}

.button:hover{
	color:#FF247A;
}
.button:active{
	border-bottom:0px;
	border-right:0px;
}

#infodrag{
	position:absolute;
	top:666px;
	left:-3px;
	width:100%;
	text-align:center;
}
#infodrag table td{
	padding:0px;
	text-align:left;
}	
#div_btn_remove_eleven{
	position:absolute;
	top:681px;
	left:0px;
	text-align:center;
	width:100%;
}

#div_btn_remove_eleven .button{
	background-image:url(../images/delete.png);
	background-position:7px 6px;
}

#div_btn_send_data{
	position:relative;
	top:664px;
	left:615px;
}

#div_btn_send_data .button{
	background-image:url(../images/save.png);
	background-position:9px 6px;

}

#divformtactic .button{
	position:absolute;
	background-image:url(../images/comeon.png);
	background-position:-4px 2px;
	top:759px;
	left:1049px;
}

#div_come_back.come_back_manager{
	position:absolute;
	top:758px;
	left:1071px;
}

#div_btn_cancel_grass{
	position:absolute;
	top:664px;
	left:451px;
}

#div_btn_cancel_tactic{
	position:absolute;
	left:887px;
	top:759px;
}

#div_btn_cancel_tactic .button, #div_btn_cancel_grass .button{
	background-image:url(../images/cancel.png);
	background-position:-1px 2px;
}

.grass{
	position:absolute;
	top:97px;
	left:433px;
	width:422px;
	height:666px;
	border:2px solid #7F7F7F;
	background-image:url(../images/alfombra.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.dropblpor, .dropbldef, .dropblmed, .dropbldel{
	width:70px;
	height:72px;
	text-align:center;
}

.dropblpor p, .dropbldef p, .dropblmed p, .dropbldel p{
		margin:0px;
		position:relative;
    font-size:15px;
		color: #FFFFFF;
    top:-5px;
		font-weight:bold;
}

.dropblpor p span, .dropbldef p span, .dropblmed p span, .dropbldel p span{
color:#0000FF;
}

#infotactic{
	position:absolute;
	color:#a6aaaa;
	font-size:38px;
	font-weight:bold;
	text-align:center;
	top:-43px;
	left:140px;
	width:150px;
	letter-spacing:-4px;
}

#linkmobi{
	position:absolute;
	top:777px;
	left:42px;
	height: 22px;
	background-image:url(../images/logo_mobi.png);
	background-repeat: no-repeat;
	background-position: left;
	font-size: 11px;
	font-weight:bold;
	cursor:pointer;
	color:#FF247A;
	width:190px;
}

#linkmobi div{
	position:relative;
	top:9px;
	left:76px;
}

#linkmobi:hover{
	color:#30309A;
}
/******************* FIN manager.php ********************/


/******************* configure.php ********************/

#div_form_team fieldset{
	width:657px;
	height:670px;
	margin-left:14px;
	margin-top:10px;
	font-size:23px;
	font-weight:bold;
	letter-spacing:-2px;
	color:#23ACFF; /*azul*/
	border:1px solid #BFBFBF;
}

#div_form_team fieldset legend{
	padding: 24px 15px 24px 85px ;
	height:36px;
	font-size:34px;
	font-weight:bold;
	color:#FF247A;/*naranja*/
	background-image:url('../images/ball.png');
	background-repeat:no-repeat;
	background-position:left;
	letter-spacing:-2px;
}

#form_team input{
	background-color:#FFF;
	height:35px;
	width:360px;
	font-size:23px;
	font-weight:bold;
	color:#6E6E6E;
	padding-left:3px;
	letter-spacing:-2px;
	border:2px solid #BFBFBF;
	cursor:pointer;
}

input#copa, input#campeon, input#cuchara{
	width:35px;
	text-align:center;
	padding:3px;
	
}

#form_team input:hover{
	background-color:#BFBFBF;
	border:2px solid #acb5b5;
}

#form_team input:focus{
	cursor:text;
	background-color:#FFF;
	color:#000000;
	border:2px solid #BFBFBF;
}

#div_form_team table tr td{
	padding-bottom:18px;
}

label.ok{
	padding-left:50px;
	padding-top:10px;
	background-image: url('../images/ok.png');
	background-repeat: no-repeat;
	background-position:center;
}

label.ko{
	padding-left:46px;
	padding-top:9px;
	background-image: url('../images/ko.png');
	background-repeat: no-repeat;
	background-position:center;
}

.rightconfigure{
	position:absolute;
	top:57px;
	left:721px;
	width:421px;
	height:500px;
}

.allshirts{
	position:absolute;
	top:6px;
	left:0px;
	width:495px;
	height:564px;
	border:1px solid #BFBFBF;
	overflow:auto;
	padding:5px;
}

.allshirts table{
	width:100%;
}

.allshirts table tr td{
	text-align:center;
}

.sampleshirt{
	border:2px solid #BFBFBF;
	cursor:pointer;
}

.sampleshirt:hover{
	border:2px solid #23ACFF;
}

.allshirts fieldset legend{
	font-size:20px;
	font-weight:bold;
	color:#FF247A;/*naranja*/
}
#shirtscatalog.allshirts .rotulo{ 
	position:relative;
	top:-5px;
	font-size:35px;
	border-bottom:0px solid #A7A7CB;
	letter-spacing:-2px;
}	

#div_btn_send_shirt{
	position:absolute;
	top:622px;
	left:310px;
	height:30px;
	width:auto;
}

#div_btn_send_shirt .button{
	background-image:url("../images/save.png");
	background-position: 9px 6px; 
}

#div_btn_cancel_shirt{
	position:absolute;
	top:622px;
	left:45px;
	height:30px;
	width:auto;
}

#div_btn_cancel_shirt .button{
	background-image:url("../images/cancel.png");
	background-position: 9px 6px; 
}

fieldset.summary_team{
	position:absolute;
	width:480px;
	height:667px;
	top:-26px;
	border:1px solid #BFBFBF;
}
fieldset.summary_team legend{
	padding: 24px 15px 24px 85px ;
	height:17px;
	font-size:34px;
	font-weight:bold;
	color:#FF247A;
	background-repeat:no-repeat;
	background-position:left;
	letter-spacing:-2px;
}

fieldset.summary_team ul{
	list-style:none;
	font-size:28px;
	font-weight:bold;
	color:#23ACFF;
	padding-left:5px;
	margin-top:0px;
	letter-spacing:-2px;
}

fieldset.summary_team ul li{
	background-position: left center; 
	background-repeat: no-repeat;
	padding-left: 76px;
	padding-top: 46px;
	border-bottom:2px solid #BFBFBF;
}

fieldset.summary_team ul li#summary_manager1{
	background-image: url('../images/manager1_desktop.png');
}

fieldset.summary_team ul li#summary_manager2{
	background-image: url('../images/manager2_desktop.png');
}

fieldset.summary_team ul li#summary_estadio{
	background-image: url('../images/estadio_desktop.png');
}

fieldset.summary_team ul li#summary_campeon{
	background-image: url('../images/campeon_desktop.png');
}

fieldset.summary_team ul li#summary_copa{
	background-image: url('../images/copa_desktop.png');
}

fieldset.summary_team ul li#summary_cuchara{
	background-image: url('../images/cuchara_desktop.png');
	border-bottom:0px;
}

#div_btn_comeback{
	position:relative;
	top:702px;
	left:309px;
	width:243px;
	text-align:center;
}
#div_btn_comeback .button{
	background-image: url("../images/back.png");
	background-position: 0px 2px;
}


/******************* FIN configure.php ********************/

/******************* matches.php ********************/
.grassmatches{
	position:absolute;
	top:24px;
	left:20px;
	width:517px;
	height:770px;
	border:2px solid #7F7F7F;
	background-image:url(../images/alfombra_matches.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

#leftcontainer.grass{
	position:absolute;
	top:80px;
	left:33px;
}

/*#rightcontainer.grassmatches{
	position:absolute;
	top:80px;
	left:815px;
	width:359px;
	height:502px;
	border:2px solid #7F7F7F;
	background-image:url(../images/alfombra.jpg);
	background-repeat: no-repeat;
	background-position: center;
}*/

#leftcontainer .rotulo, #rightcontainer .rotulo{
	position:relative;
	top:-78px;
	font-size:25px;
	border-bottom:1px solid #A7A7CB;
	text-align: center;
}

#leftcontainer.menuadmin .rotulo, #rightcontainer.rightcontaineradmin .rotulo{
	position:relative;
	top:0px;
	font-size:25px;
	border-bottom:0px solid #A7A7CB;
	text-align: left;
}

#leyendaconfigure.leyenda{
	margin-left:16px;
}

.managersmatches{
	position:absolute;
	width:100%;
	height:30px;
	top:-20px;
	font-size:13px;
	font-weight:bold;
	color:#4D4D4D;
}

.managersmatches .minimanager1{
	position:absolute;
	top:-25px;
	left:25px;
	text-align:left;
	width:200px;
	height:100%;
	padding-left:32px;
	padding-top:27px;
	background-image:url(../images/minimanager1.png);
	background-repeat: no-repeat;
	background-position: left;
}

.managersmatches .minimanager2{
	position:absolute;
	top:-25px;
	left:253px;
	text-align:left;
	width:200px;
	height:100%;
	padding-left:32px;
	padding-top:27px;
	background-image:url(../images/minimanager2.png);
	background-repeat: no-repeat;
	background-position: left;
}

.score{
	color:#FF247A;
	font-weight:bold;
	font-size:32px;
	border:1px solid #A7A7CB;
	padding:5px;
}

#localscore.score{
	position:absolute;
	top:230px;
	left:441px;
}
#guestscore.score{
	position:absolute;
	top:230px;
	left:-67px;
}

.stadiummatches{
	position:absolute;
	top:512px;
	left:0px;
	width:100%;
	color:#FF247A;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#datamatches{
	position:absolute;
	top:16px;
	left:-214px;
}

#datamatches fieldset{
	width:172px;
	height:95px;
}

#datamatches fieldset legend{
	font-size:18px;
}

#datamatches fieldset ul{
	font-size:15px;
}
#auxcontainer.selectmatch{
	position:absolute;
	left:550px;
	top:26px;
}

#auxcontainer.selectmatch select{
	font-size:14px;
}

#auxcontainer.selectmatch select optgroup{
	font-style: normal;
}

div.goles{
	position:absolute;
	width:auto;
	top:28px;
	left:-15px;
	width:100px;
}

.dropblpor p.roja, .dropbldef p.roja, .dropblmed p.roja, .dropbldel p.roja{
	/*background-color:#FF0000;*/
	background-image:url(../images/redcard.png);
	background-repeat:no-repeat;
	background-position:22px -3px;
	color:#FFF;
	height:60px;
}

#leftcontainer div.dropblpor,#leftcontainer div.dropbldef,#leftcontainer div.dropblmed,#leftcontainer div.dropbldel{
	cursor:pointer;
}

#popup.editnumbers{
	position:absolute;
	top:88px;
	left:76px;
	width:410px;
	height:165px;
	background-color:#4D4D4D;
	opacity: 0.9; /* para opera y firefox */
	-moz-opacity: 0.9; /* para mozilla */
	filter: alpha(opacity=80); /* para IE */
	border:1px solid #FFF;
	z-index:1;
}
#editjugadornumbers.rotulo{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	color:#ffffff;
	font-size:25px;
	text-align:center;
	z-index:2;
	padding-top:10px;
}	

#form_edit_numbers{
	position:absolute;
	top:50px;
	left:0px;
	width:100%;
}

#form_edit_numbers table#table_form_numbers{
	width:100%;
}

#form_edit_numbers table#table_form_numbers tr td{
	width:50%;
	border:1px solid #8A8585;
	text-align:center;
}
  
#form_edit_numbers table#table_form_numbers label{
	color:#FFF;
	font-weight:bold;
}

#form_edit_numbers table#table_form_numbers input{
	height:20px;
	width:50px;
	font-size:16px;
	font-weight:bold;
	color:#000;
	padding-left:3px;
	border:0px solid;
	border:1px solid #000;
	text-align:center;
}

#form_edit_numbers table#table_form_numbers select{
	font-size:16px;
	font-weight:bold;
	color:#FF0000;
	background-color:#FFF;
}

#form_edit_numbers table#table_button_form_numbers{
	margin-top:20px;
	width:100%;
}

#form_edit_numbers table#table_button_form_numbers tr td{
	width:50%;
	text-align:center;
}	

#form_edit_numbers table#table_button_form_numbers input{
	font-size:15px;
	font-weight:bold;
	color:#FFF;
	background-color:#1A1A1A;
	border:1px solid #FFF;
	cursor:pointer;
	margin:0px;
	padding:0px;
	width: 128px;
	height:26px;
	letter-spacing: 0px;
}

#form_edit_numbers table#table_button_form_numbers input#btn_cancel_form_numbers{
	background-color:#ff0000;
}

#form_edit_numbers table#table_button_form_numbers input#btn_set_form_numbers{
	background-color:#23ACFF;
}

#div_come_back.come_back_matches{
	position:absolute;
	top:760px;
	left:1074px;
}
#rightcontainer.tablematches{
	border:1px solid #BFBFBF;
	position: absolute;
	top:57px;
	left:551px;
	font-size:23px;
	width: 676px;
	height:680px;
}

#rightcontainer.tablematches div{
	padding: 5px;
	height:450px;
	width:325px;
}

#rightcontainer.tablematches #infomatch{
	height:15px;
	width:653px;
	border:1px solid #BFBFBF;
	text-align:center;
	margin-left:5px;
	margin-top:6px;
	padding-bottom:10px;
	background-color:#5D5D5D;
	color:#FFF;
}

#rightcontainer.tablematches #localtable{
	float:left;
}

#rightcontainer.tablematches #guesttable{
	float:right;
}

#rightcontainer.tablematches div table{
	border:1px solid #BFBFBF;
	width:100%;
	height: 100%;
	letter-spacing:-1px;
}

#rightcontainer.tablematches div td{
	border:1px solid #BFBFBF;
}

#rightcontainer.tablematches div td.txtplayer{
	padding-left:10px;
}

#rightcontainer.tablematches div td.txtptos, td.txttotal, td.txtteam{
	text-align:center;
}

#rightcontainer.tablematches div td.txtptos{
	background-color:#23ACFF;
	color:#FFFFFF;
	width:50px;
}

#rightcontainer.tablematches div td.txttotal, td.txtteam{
	font-size: 40px;
	font-weight:bold;
	background-color:#23ACFF;
	color:#FFF;
	padding-top:4px;
}

#rightcontainer.tablematches div td.txtteam{
	font-size: 30px;
	padding:10px;
	background-color:#FF247A;
}

#rightcontainer.tablematches ul.headlist{
 font-size:16px;
 font-weight:bold;
 margin:2px;
 padding-left:16px;
 padding-top:1px;
}

#rightcontainer.tablematches ul#listgoals_local, ul#listgoals_guest{
	color:#1C981C;
}

#rightcontainer.tablematches ul.headlist ul{
	font-size:15px;
	font-weight:normal;
	padding-top:2px;
	list-style: none;
	padding-left:12px;
}

#rightcontainer.tablematches ul.headlist ul li{
	color:#000000;
}

#rightcontainer.tablematches ul.headlist li span{
	font-weight:normal;
}

#rightcontainer.tablematches ul#listreds_local,ul#listreds_guest{
	color:#ff0000;
}

/******************* FIN matches.php ********************/


/******************* admin.php ********************/

#leftcontainer.menuadmin{
position:absolute;
}

#leftcontainer.menuadmin fieldset{
	width:400px;
	height:550px;
	margin-left:20px;
	margin-top:10px;
}

#leftcontainer.menuadmin fieldset ul{
	position:absolute;
	top:56px;
	left:30px;
	color:#30309A;
	font-size:20px;
}

#leftcontainer.menuadmin fieldset ul li{
	margin-bottom:10px;
	cursor:pointer;
}

#leftcontainer.menuadmin fieldset ul li:hover{
	list-style:circle;
}

#leftcontainer.menuadmin fieldset legend{
	border:0px;
	font-size:20px;
}

#div_come_back.come_back_admin{
	position:absolute;
	top:758px;
	left:1071px;
}

#rightcontainer.rightcontaineradmin{
	position:absolute;
	top:12px;
	left:481px;
}
#rightcontainer.rightcontaineradmin fieldset legend{
	border:0px;
	font-size:20px;
}
#rightcontainer.rightcontaineradmin fieldset{
	margin-top:8px;
	width:680px;
}
#rightcontainer.rightcontaineradmin fieldset form table{
	width:100%;
}

#rightcontainer.rightcontaineradmin fieldset form table tr td{
	text-align:center;
}

#rightcontainer.rightcontaineradmin fieldset form table tr td.fileinput{
	text-align:left;
	padding-left: 15px;
	padding-top: 17px;
	font-size: 12px;
}
#rightcontainer.rightcontaineradmin fieldset form table tr td.tdbig{
	padding-top:17px;
}

#rightcontainer.rightcontaineradmin fieldset form table tr td input[type=button]{
	background-image:url(../images/save.png);
	background-position:9px 6px;
}
#rightcontainer.rightcontaineradmin fieldset ul{
	color:#4D4D4D;
	margin-top:0px;
	padding-left:10px;
	list-style:none;
}

#rightcontainer.rightcontaineradmin table{
	margin-top:5px;
	font-size: 20px;
}
#rightcontainer.rightcontaineradmin div#list_allplayers{
	height:452px;
	overflow:auto;
}
#rightcontainer.rightcontaineradmin table.allplayers{
	/*font-size:12px;*/
}

#rightcontainer.rightcontaineradmin table tr.head{
	background-color:#30309A;
	font-weight:bold;
	text-align:center;
	color:#FFF;
}

#rightcontainer.rightcontaineradmin table#datalist tr td{
	border:1px solid #BFBFBF;
}

#rightcontainer.rightcontaineradmin table#datalist tr th{
	border:1px solid #BFBFBF;
	background-color: #5a5a5a;
	color:#FFFFFF;
	padding: 5px;
}

#rightcontainer.rightcontaineradmin table#datalist tr:nth-child(odd){
	background-color:#b4d5ff;
}

#rightcontainer.rightcontaineradmin table#datalist tr:nth-child(even){
	background-color:#FFFFFF;
}

#rightcontainer.rightcontaineradmin table tr td.teamname{
	text-align:left;
	padding-left:12px;
}

#rightcontainer.rightcontaineradmin fieldset form table tr td input[type=text]{
	width: 65px;
	font-size: 18px;
	background-color: #fff;
	border: 1px solid #bfbfbf;
	color: #6e6e6e;
	font-weight: bold;
	height: 20px;
	text-align: center;
}

/******************* FIN admin.php ********************/

/******************* myteam.php ********************/

#leftcontainer.leftmyteam {
	position:absolute;
	top:36px;
	left:36px;
	width:750px;
	height:610px;
}

#leftcontainer.leftmyteam table{
	font-size:16px;
	width:90%;
}

#leftcontainer.leftmyteam table tr td{
	border:1px solid #BFBFBF;
	padding:3px;
}

#leftcontainer.leftmyteam table tr td.dorsal{
	text-align:center;
}	
#leftcontainer.leftmyteam table tr.datapor{
	background-color:#fffad3
}

#leftcontainer.leftmyteam table tr.datadef{
	background-color:#e3f0ff;
}

#leftcontainer.leftmyteam table tr.datamed{
	background-color:#ddffdd;
}

#leftcontainer.leftmyteam table tr.datadel{
	background-color:#ffe4e4;
}

#leftcontainer.leftmyteam table tr.dataempty td{
	border:1px solid #BFBFBF;
}

#leftcontainer.leftmyteam table tr td.delplayer{
	background-color:#FFF;
	background-position:center;
	background-image: url('../images/delplayer.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

#leftcontainer.leftmyteam table tr td.addplayer{
	background-color:#FFF;
	background-position:center;
	background-image: url('../images/addplayer.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

#leftcontainer.leftmyteam table tr td.playername{
	font-weight: bold;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px center;
	padding:3px 3px 3px 41px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

#leftcontainer.leftmyteam table tr td.onlydata{
	text-align:center;
}

#leftcontainer.leftmyteam table tr.headdata td{
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	background-color:#1e94ff;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
} 

#leftcontainer.leftmyteam table tr.headdata td:hover{
	background-color:#FFF;
	color:#1e94ff;
}	


#leftcontainer.leftmyteam fieldset legend.rotulo{
	font-size:22px;
	padding-bottom:10px;
}
#rightcontainer.rightmyteam #shirtmyteam{
	position:absolute;
	top:43px;
	left:772px;
	background-color:#FFF;
	z-index:2;
}
#rightcontainer.rightmyteam #namemyteam{
	position:absolute;
	border:1px solid #A7A7CB;
	top:65px;
	left:807px;
	color:#FF247A;
	font-size:36px;
	font-weight:bold;
	padding: 19px 20px 10px 45px;
	text-align:right;
	letter-spacing:-3px;
}

#popup.addplayer{
	position:relative;
	top:210px;
	left:150px;
	height:190px;
	width:895px;
	border:2px solid #A7A7CB;
	background-color:#FFF;
	z-index:2;
}

#popup.addplayer form#form_newplayer select{
	font-size: 14px;
	width: 200px;	
}

#popup.addplayer fieldset{
	width:90%;
	margin:30px;
}

input.accept{
	background-color:#1e94ff;
	font-size: 15px;
	color:#FFFFFF;
	cursor: pointer;
}

input.cancel{
	background-color:#5d5d5d;
	font-size: 15px;
	color:#FFFFFF;
	cursor: pointer;
}

table.table_addplayer {
	width:600px;
}

table.table_addplayer td {
/*	border:1px solid #000;*/
}

/******************* FIN myteam.php ********************/


/******************* myuser.php ********************/
#leftcontainer.leftmyuser{
	position:absolute;
	top:50px;
	left:50px;
	color:#30309A;
}

#leftcontainer.leftmyuser table{
	font-size:20px;
}

#leftcontainer.leftmyuser #div_form_data_user table tr td{
	border:1px solid #BFBFBF;
}

#form_data_user #div_form_data_user input{
	height:25px;
	width:220px;
	font-size:20px;
	padding-left:3px;
	border:0px solid;
	border:1px solid #A7A7CB;
}
#btn_form_data_user{
	position:absolute;
	margin-top:10px;
}
#form_data_user #btn_form_data_user input{
	font-size:18px;
	width:225px;
}

/******************* FIN myuser.php ********************/


/************** Mensajes *********************/
.info, .exito, .alerta, .error {
		position:absolute;
    font-family:sans-serif; 
    font-size:13px;
		font-weight:bold;
		text-align:center;
		color: #000;
    border: 2px solid #A69B9B;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
		width:380px;
		top:200px;
		left:410px;
		z-index:5;
}
.info {
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.exito {
    background-color: #DFF2BF;
    background-image:url('../images/exito.png');
}
.alerta {
    background-color: #FEEFB3;
    background-image: url('../images/alerta.png');
}
.error {
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}
